@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  @font-face {
    font-family: "Vogue";
    src: url("/fonts/Vogue-Regular.woff2") format("woff2");
    src: url("/fonts/Vogue-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Coolvetica-Regular";
    src: url("/fonts/Coolvetica-Regular.woff2") format("woff2");
    src: url("/fonts/Coolvetica-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Coolvetica-Cond";
    src: url("/fonts/Coolvetica-Cond.woff2") format("woff2");
    src: url("/fonts/Coolvetica-Cond.woff") format("woff");
  }

  @font-face {
    font-family: "GreaterTheoryRegular";
    src: url("/fonts/GreaterTheoryRegular.woff2") format("woff2");
    src: url("/fonts/GreaterTheoryRegular.woff") format("woff");
  }

  @font-face {
    font-family: "InknutAntiqua-SemiBold";
    src: url("/fonts/InknutAntiqua-SemiBold.woff2") format("woff2");
    src: url("/fonts/InknutAntiqua-SemiBold.woff") format("woff");
  }
}

@theme {
  --font-vogue: Vogue, sans-serif;
  --font-coolvetica: "Coolvetica-Regular", sans-serif;
  --font-coolvetica-cond: "Coolvetica-Cond", sans-serif;
  --font-greater-theory: "GreaterTheoryRegular", sans-serif;
  --font-inknut-semibold: "InknutAntiqua-SemiBold", sans-serif;
  --color-primary: #111111;
  --color-pink: #ffb8e5;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-x {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(4px);
  }
}

.pulse-x {
  animation: pulse-x 1s ease-in-out infinite;
}
